In [18]:
import pandas as pd

In [19]:
data=pd.read_excel('train.xlsx',sheet_name='Sheet1')

In [21]:
data.iloc[0,0]=34

In [22]:
data

   Train No:  Speed       City
0         34     50     rampur
1      56822    123    kolkata
2      14899     54   bareilly
3      12365     43  antertica

In [24]:
data.to_excel('train.xlsx',sheet_name='Sheet1',index=False)